<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>

    <p>Email</p>
    <mat-form-field>
        <input matInput required type="email" #email>
    </mat-form-field>

    <p>Password</p>
    <mat-form-field>
        <input matInput required type="password" #password>
    </mat-form-field>


</div>
<div mat-dialog-actions>
    <button mat-button style="margin:10px;width: 100%;">Login</button>
    <button mat-button style="margin:10px;width: 100%;">I forgot my password</button>
    <button mat-button style="margin:10px;width: 100%;">
        <img src="https://image.flaticon.com/icons/svg/281/281764.svg" style="width: 20px;" />
        Login with Google</button>
</div>